<header>
 <div class="center-wrap">
    <div class="companyIdentity">
       <a href="page-template-homepage-jquery.html"><img src="{{ site_url }}content-images/sterling-logo.png" alt="Website Template" /></a>
    </div>
    <!-- END companyIdentity -->
    
    
    <!-- START Main Navigation -->
    <nav>
       <ul>
          <li><a href="page-template-homepage-jquery.html">Home</a></li>
          <li>
             <a href="page-template-homepage-lightbox-hero.html">Pages</a>
             <ul class="sub-menu">
                <li><a href="page-template-homepage-lightbox-hero.html">Homepage &#8211; Lightbox Hero</a></li>
                <li><a href="page-template-homepage-jquery-sidebar.html">Homepage &#8211; jQuery Sidebar</a></li>
                <li><a href="page-template-full-width.html">Full Width</a></li>
                <li><a href="page-template-left-nav.html">Left Nav</a></li>
                <li><a href="page-template-left-sidebar.html">Left Sidebar</a></li>
                <li><a href="page-template-right-sidebar.html">Right Sidebar</a></li>
                <li>
                   <a href="page-template-blog-post.html#">Image + Video Galleries  &rarr;</a>
                   <ul class="sub-menu">
                      <li><a href="page-template-gallery-4-columns.html">Gallery &#8211; 4 Columns</a></li>
                      <li><a href="page-template-gallery-3-columns.html">Gallery &#8211; 3 Columns</a></li>
                      <li><a href="page-template-gallery-2-columns.html">Gallery &#8211; 2 Columns</a></li>
                      <li><a href="page-template-gallery-portrait-4-columns.html">Gallery &#8211; 4 Column Portraits</a></li>
                      <li><a href="page-template-gallery-portrait-3-columns.html">Gallery &#8211; 3 Column Portrtaits</a></li>
                   </ul>
                </li>
                <li class="current-menu-item"><a href="page-template-contact.html">Contact</a></li>
                <li><a href="page-template-team-members.html">Team Members</a></li>
                <li><a href="page-template-faq.html">FAQ Template</a></li>
                <li><a href="page-template-under-construction.html">Under Construction Page</a></li>
                <li><a href="page-template-sitemap.html">Sitemap</a></li>
                <li><a href="page-template-404-error.html">404 Error Page</a></li>
             </ul>
          </li>
          <li>
             <a href="content-responsive-design.html">Features</a>
             <ul class="sub-menu">
                <li><a href="content-responsive-design.html">Responsive Design</a></li>
                <li><a href="content-shortcodes.html">100+ Shortcodes</a></li>
                <li><a href="content-page-templates.html">18 Page Templates</a></li>
                <li><a href="content-ajax-form.html">AJAX Contact Form</a></li>
                <li><a href="content-stock-photos.html">Stock Photos &#038; Icons</a></li>
                <li><a href="content-customer-support.html">Amazing Customer Support</a></li>
                <li><a href="content-training-videos.html">Training Videos</a></li>
             </ul>
          </li>
          <li>
             <a href="content-color-autumn.html">Colors</a>
             <ul class="sub-menu">
                <li><a href="content-color-autumn.html">Autumn</a></li>
                <li><a href="content-color-black.html">Black</a></li>
                <li><a href="content-color-blue-grey.html">Blue Grey</a></li>
                <li><a href="content-color-coffee.html">Coffee</a></li>
                <li><a href="content-color-blue.html">Cool Blue</a></li>
                <li><a href="content-color-fire.html">Fire</a></li>
                <li><a href="content-color-golden.html">Golden</a></li>
                <li><a href="content-color-green.html">Green</a></li>
                <li><a href="content-color-lime.html">Lime Green</a></li>
                <li><a href="content-color-periwinkle.html">Periwinkle</a></li>
                <li><a href="content-color-pink.html">Pink</a></li>
                <li><a href="content-color-purple.html">Purple</a></li>
                <li><a href="content-color-red.html">Red</a></li>
                <li><a href="content-color-royal-blue.html">Royal Blue</a></li>
                <li><a href="content-color-silver.html">Silver</a></li>
                <li><a href="content-color-sky-blue.html">Sky Blue</a></li>
                <li><a href="content-color-teal-grey.html">Teal Grey</a></li>
                <li><a href="content-color-teal.html">Teal</a></li>
             </ul>
          </li>
          <li><a href="page-template-shortcodelist.html">Shortcodes</a></li>
          <li class="current-menu-item"><a href="page-template-blog.html">Blog</a></li>
       </ul>
    </nav>
    <!-- END Main Navigation -->
 </div>
 <!-- END center-wrap -->
</header>