<aside class="sidebar left-sidebar">
   <div class="sidebar-widget">
      <ul class="custom-menu">
         <li><a href="page-template-homepage-jquery.html">Home</a></li>
         <li><a href="page-template-team-members.html">Team</a></li>
         <li><a href="page-template-sitemap.html">Sitemap</a></li>
         <li><a href="http://themes.truethemes.net/Sterling-HTML/content-color-variations.html">Styles</a></li>
         <li><a href="content-shortcodes.html">Shortcodes</a></li>
      </ul>
   </div>
   <div class="sidebar-widget">
      <ul class="social_icons">
         <li><a href="../Sterling/feed" class="rss">RSS</a></li>
         <li><a href="http://www.twitter.com/truethemes" class="twitter">Twitter</a></li>
         <li><a href="http://www.facebook.com/truethemes" class="facebook">Facebook</a></li>
         <li><a href="mailto:themes@truethemes.net" class="email">Email</a></li>
      </ul>
   </div>
</aside>