{% extends "NeutronAdminBundle::layout.html.twig" %}

{% block headTitle %} {% trans from "NeutronUserBundle" %}head_title{% endtrans %} {% endblock %}

{% block headDesc %}
    <h1 class="icon dashboard">
        {% trans from "NeutronUserBundle" %}header{% endtrans %} <small>some description</small>
    </h1>
{% endblock %}

{% block body %}
<div class="row">
	<div class="grid12">
		<article class="panel">
		 	<header class="divider">
		 	    <h2>{% trans from "NeutronUserBundle" %}subheader{% endtrans %}</h2>
		 	</header>
            {{ neutron_form_tabs(
                  form, 
                {'submit_label': 'form.save', 'translation_domain': 'NeutronPageBundle'},
                {
                    'back_administration': {'label': 'form.back_administration', 'style': 'btn action', 'url': path('neutron_page.administration')},
                    'back_category': {'label': 'form.back_category', 'style': 'btn action', 'url': path('neutron_admin.category.management')},
                }
           ) }}
		</article>

	</div>
</div>
{% endblock %}